body {
  /* background-image: url("./bg1.png"); */
  /* background-image: url("./bg3.webp"); */
  background-image: url("./bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: rgba(211, 194, 199, 1); */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensures the body takes up the full viewport height */
  flex-direction:column;
  gap:45px;
}
.text{
  font-size: 2rem;
  font-weight:bold;
  color:white;

}

.credits{
  color:white;
  font-size:1rem;
}
#container {
  background-color: rgba(204, 194, 199, 0.5);
  color: white;
  height: 60vh;
  width: 50%;
  border: 10px solid rgba(204, 194, 199, 0.9); /* Added missing semicolon */
  border-radius: 15px; /* Rounded corners */
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.div {
  background-color: black;
  width: 1rem;
  height: 1rem;
}

.result, .input {
  background-color: rgba(204, 194, 199, 0.7);
  width: calc(100% - 40px); 
  height: 70px;
  font-size:1.5rem;
  display:flex;
  /* gap:4px; */
  align-items:center;
  justify-content:space-around;
  font-size:1.5rem;
  color:black;
  font-weight:bold;
}

.input{
  /* border-bottom: 1px solid rgba(204, 194, 199, 0.7); */
  border-radius: 0px 0px 25px 25px;
  margin-left:20px;
  margin-right:20px;


}
.result{
  margin-left:20px;
  margin-right:20px;
  margin-top:10px;
  border-radius: 25px 25px 0px 0px;


}

.buttons {
  
  /* background-color: green; */
  padding:20px;
  display: flex;
  flex-direction: column;
  align-items:stretch;
  justify-content:stretch;
  gap:10px;
  border:none;
  /* justify-content:center;
  align-items:center; */
}
/* Common styling for all rows */
.r1, .r2, .r3, .r4 {
  display: flex;
  justify-content: space-between; /* Adjusts spacing between child items */
  align-items: center; /* Vertically aligns items to the center */
}

/* Styling for buttons inside all rows */
.r1 button, .r2 button, .r3 button, .r4 button {
  font-size:1.5rem;
  height: 60px;
  margin:1px;
  font-weight:bold;
  border-radius:24px;
  flex-grow: 1; /* Ensures each button stretches to take up equal space */
  text-align: center; /* Centers text inside the button */
  border: 1px solid black; Optional: Makes the buttons visually distinct
  background-color: lightgray; /* Optional: Adds a background color to buttons */
}

.operationBtn{
  background-color:gold;
  color:black;
  border:none;

}

.inputBtn{
  background-color:navy;
  color:white;

}
